main .row{
 min-height: 400px;
 
}

.contents{
    min-height: 400px;
    min-width: 800px;
    border-radius: 20px;
    background-color: bisque;
    border: 6px double #d3d3d3;
}

#total::after{
    content:' €';
}
#distance::after{
    content:' Km';
}
